[submodule "pawjai-be"]
	path = pawjai-be
	url = https://github.com/stateless-x/pawjai-be.git
	branch = main
	update = rebase
[submodule "pawjai-client"]
	path = pawjai-client
	url = https://github.com/stateless-x/pawjai-client.git
	branch = main
	update = rebase
[submodule "pawjai-admin"]
	path = pawjai-admin
	url = https://github.com/stateless-x/pawjai-admin.git
	branch = main
	update = rebase
[submodule "PawjaiMobile"]
	path = PawjaiMobile
	url = https://github.com/stateless-x/PawjaiMobile.git
	branch = main
	update = rebase
