[submodule "pawjai-be"]
	path = pawjai-be
	url = https://github.com/stateless-x/pawjai-be.git
	branch = main
	update = rebase
[submodule "pawjai-admin"]
	path = pawjai-admin
	url = https://github.com/stateless-x/pawjai-admin.git
	branch = main
	update = rebase
[submodule "pawjai-fe"]
	path = pawjai-fe
	url = https://github.com/stateless-x/pawjai-fe.git
	branch = main
	update = rebase
[submodule "pawjai-ios"]
	path = pawjai-ios
	url = https://github.com/stateless-x/pawjai-ios.git
	branch = main
	update = rebase
[submodule "pawjai-android"]
	path = pawjai-android
	url = https://github.com/stateless-x/pawjai-android.git
	branch = main
	update = rebase
